<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fiap18Mob.clean">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.usersList.RecyclerViewActivity"></activity>
        <activity android:name=".view.cleanerDetail.CleanerDetailActivity" />
        <activity android:name=".view.forgotpassword.ForgotPasswordActivity" />
        <activity android:name=".view.dataTableList.DataTableListActivity" />
        <activity android:name=".view.login.LoginActivity" />
        <activity android:name=".view.about.AboutActivity" />
        <activity android:name=".view.signup.SignUpActivity" />
        <activity android:name=".view.splash.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.main.MainActivity" />

        <service
            android:name=".fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>